<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>51860508805-h12b07aabbo1ervf9etnvmc097ciompq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.51860508805-h12b07aabbo1ervf9etnvmc097ciompq</string>
	<key>API_KEY</key>
	<string>AIzaSyD3caPIcPKEaorjyd3dn-vC9ANj8W6G0KQ</string>
	<key>GCM_SENDER_ID</key>
	<string>51860508805</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.emoji.Languag.moji</string>
	<key>PROJECT_ID</key>
	<string>languagemoji</string>
	<key>STORAGE_BUCKET</key>
	<string>languagemoji.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:51860508805:ios:e0741b27b87fd7af</string>
	<key>DATABASE_URL</key>
	<string>https://languagemoji.firebaseio.com</string>
	<key>ADMOB_APP_ID</key>
	<string>ca-app-pub-4356277299702437~9424717316</string>
</dict>
</plist>